body {
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url("../img/orion-nebula-11107_1280.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%; 
}

#board {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    position: absolute;
    background-image: url("../img/hero.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 90%;
}

.enemy1 {
    position: absolute;
    background-image: url("../img/enemy1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 90%;
}

.enemy2 {
    position: absolute;
    background-image: url("../img/enemy2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 90%;
}

.bullet1 {
    position: absolute;
    background-image: url("../img/laser1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 80%;
}

.bullet2 {
    position: absolute;
    background-image: url("../img/laser2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 70%;
}

.score {
    position: relative;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 2em;
    font-family: "Audiowide", sans-serif;
}

#page-gameover {
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url("../img/orion-nebula-11107_1280.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%; 
}

#end-screen {
    color: white;
    font-size: 3em;
    font-family: "Audiowide", sans-serif;
    margin: 15% auto;
    width: 50%;
    text-align: center;
}

#end-screen h1 {
    margin: 0 0 20px 0;
}


#end-screen a {
    font-size: 1em;
    color: #00aacf;
}